node_modules/
client/docs/assets/bundle.js
client/docs/assets/bundle.js.map
server/.env
server/config/default.json
server/config/test.json
server/coverage
config/default.json
config/test.json
mongodb-binaries/
