.notepadTop {
  background-color: #ff7454;
  color: white;
}

.notepadBottom {
  background-color: #fee6ce;
}

.todosBody {
  border-top: 1px solid black;
}

tr.borderBottom td {
  border-bottom: 1px solid black;
}

.todoName {
  font-weight: bold;
}

.notepadInput {
  background-color: #fff3db;
  border: 1px solid grey;
}

.notepadBtn {
  background-color: #ff7454;
  border: 1px grey solid;
}

.notepadBtn:hover {
  background-color: #ff8e6e;
}
